@import "../config";

#tools {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    .airdrop {
        .feature-line {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border-bottom: 1px $grey_2 solid;
        }

        .tab-switcher {
            display: flex;
            justify-content: center;
            align-items: center;

            .tab {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 12px 24px 18px;
                gap: 10px;
                color: #fff;
            }

            .tab-active {
                @extend .tab;
                position: relative;

                &::after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background: $cyan_1;
                    position: absolute;
                    bottom: 0;
                }
            }
        }

        .content {
            width: 480px;
            margin-inline: auto;
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            .balance {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
                color: #fff;
            }
        }
    }

    .presale-calculator {
        width: 70%;
        margin-inline: auto;

        .card {
            width: 100%;
            margin-top: 48px;
            margin-bottom: 48px;
            color: #fff;
            transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border-radius: 8px;
            box-shadow: none;
            padding: 20px 30px;
            margin-inline: auto;
            background: #212b36;
            backdrop-filter: blur(6px);
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 24px;

            .title {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }

    .create-token {
        @extend .presale-calculator;
    }

    .manage-antibot {
        @extend .presale-calculator;
        .feature-line {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border-bottom: 1px $grey_2 solid;
        }
    }

    .stake {
        @extend .presale-calculator;
        width: 50%;

        .hr {
            width: 100%;
            height: 1px;
            background: transparentize($grey_1, 0.8);
        }

        .info {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;

            .item {
                div {
                    margin-bottom: 24px;
                }
            }
        }

        .tab-switcher {
            display: flex;
            justify-content: center;
            align-items: center;

            .tab {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 12px 24px 18px;
                gap: 10px;
                color: #fff;
            }

            .tab-active {
                @extend .tab;
                position: relative;

                &::after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background: $cyan_1;
                    position: absolute;
                    bottom: 0;
                }
            }
        }

        .input {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .text {
                width: 60%;
            }

        }

        .rebase {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            .rebase-btn {
                min-width: 64px;
                width: 60%;
                min-height: 36px;
                padding: 5px 15px;
                color: $green_2;
                font-size: 14px;
                font-weight: 700;
                border: 2px solid $green_2;
                background-color: #212b36;
                border-radius: 20px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: transparentize($green_2, 0.8);
                }

                img {
                    width: 20px;
                }
            }

            .info-line {
                width: 60%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}