@import "../config";

#header {
    width: calc(100vw - 290px);
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    backdrop-filter: blur(6px);
    background: transparentize(#161c24, 0.3);
    z-index: 999;

    .left {
        margin-inline-start: 3%;
        color: white;
        font-size: 25px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #212b36;
        }

        img {
            width: 20px;
        }
    }

    .right {
        margin-inline-end: 2%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;

        .header-btn {
            min-width: 64px;
            min-height: 36px;
            padding: 5px 15px;
            color: $cyan_2;
            font-size: 14px;
            font-weight: 700;
            border: 3px solid transparent;
            background-color: #212b36;
            border-radius: 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            transition: all 0.3s ease-in-out;

            &:hover {
                border-color: $cyan_2;
            }
        }

        .connect-btn {
            min-width: 64px;
            min-height: 36px;
            padding: 5px 15px;
            color: $cyan_2;
            font-size: 14px;
            font-weight: 700;
            border: 3px solid transparent;
            background-color: #212b36;
            border-radius: 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            transition: all 0.3s ease-in-out;

            &:hover {
                border-color: $cyan_2;
            }

            .icon-container {
                width: 16px;
                height: 16px;
                border-radius: 999;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        [data-rk] .ju367v9o {
            background: transparent !important;
        }
    }
}